#test{
    padding-top: 20px;
    padding-left: 5%;
}
#superWrapper{
    padding-top: 80px;
    width:90%;
    height:900px;
    margin: 0 auto;
    background-color:#d3ffff;
    
}
#wrapper{
    background-color:#d3d3d3;
    height:100%;
    width:100%;
}
#wrapper2{
    padding-top:5%;
    padding-left:3%;
    background-color:#d3d3f5;
    height:95%;
    width:97%;
}
#bolnik{
    height:2em;
    width:100%;
    background-color:#d3d8f5;
}
#container{
    height:100%;
    width:100%;
    background-color:#23dcf5;
}

#grafi{
    background-color:#df2cf5;
    float:left;
    height:100%;
    width:75%;
}
#spacer1{
    float:left;
    height:100%;
    width:3%;
}
#twitter{
    float:left;
    height:100%;
    width:15%;
}