#test{
    padding-top: 10px;
    padding-left: 5%;
}
#superWrapper{
    padding-top: 70px;
    width:90%;
    height:1500px;
    margin: 0 auto;
    background-color:#d3ffff;
    
}
#wrapper{
    background-color:red;
    height:100%;
    width:100%;
}
#wrapper2{
    padding-left:3%;
    background-color:#d3d3f5;
    height:100%;
    width:97%;
}
#bolnik{
    height:5%;
    width:100%;
    background-color:#d3d8f5;
}
#container{
    width:100%;
    height:9%;
    background-color:#23dcf5;
}

#grafi{
    background-color:#df2cf5;
    float:left;
    height:100%;
    width:80%;
}
#twitter{
    float:left;
    height:100%;
    width:20%;
    background-color:#222222;
}
#grafi_spacerji{
    width:90%;
    height:90%;
    margin-top: 5%;
    margin-left: 5%;
    background-color:#00ffff;
    overflow: scroll;
}
#graf_box_1{
    height:40%;
    width:100%;
    background-color:black;
}
#graf_box_1_spacer_top{
    height:10%;
    width:100%;
    background-color:gray;
}

#graf_box_1_graf{
    width:100%;
    height:85%;
    background-color:white;
}


#graf_box_1_spacer_bot{
    height:5%;
    width:100%;
    background-color:gray;
}

#graf_box_2{
    height:40%;
    width:100%;
    background-color:white;
}
#graf_box_2_spacer_top{
    height:10%;
    width:100%;
    background-color:gray;
}

#graf_box_2_graf{
    width:100%;
    height:85%;
    background-color:blue;
}


#graf_box_2_spacer_bot{
    height:5%;
    width:100%;
    background-color:gray;
}

#graf_box_3{
    height:40%;
    width:100%;
    background-color:black;
}

#graf_box_3_spacer_top{
    height:10%;
    width:100%;
    background-color:gray;
}

#graf_box_3_graf{
    width:100%;
    height:85%;
    background-color:blue;
}


#graf_box_3_spacer_bot{
    height:5%;
    width:100%;
    background-color:gray;
}
#graf_box_4{
    height:40%;
    width:100%;
    background-color:white;
}
#graf_box_4_spacer_top{
    height:10%;
    width:100%;
    background-color:gray;
}

#graf_box_4_graf{
    width:100%;
    height:85%;
    background-color:blue;
}


#graf_box_4_spacer_bot{
    height:5%;
    width:100%;
    background-color:gray;
}